body
{
	background-color: #000;
	color: #fff;

	border-style: inset;
	border-color: lime;
	max-width:55em;
	margin: 1em auto;
	padding:1em;
	font:16px monospace;
}

a{color:#00ff00;text-decoration:none;}
a:hover{color:#008000;text-decoration:underline;}
p{text-indent:24px;}
ul{list-style:'> ';}
q{font-style: italic;}
button{background-color:#000;color:#fff;border-color:#00ff00;cursor:pointer;}


/*
a{color:#008000;text-decoration:none;}
a:hover{color:#00ff00;text-decoration:underline;}
p{text-indent:24px; padding:0 15px 0;}
ul{color:#008000;list-style:'> ';text-align:start;}


