body
{
	background-color: #000;
	color: #fff;

	border-style: inset;
	border-color: lime;
	max-width:55em;
	margin: 1em auto;
	padding:1em;
	font:16px monospace;
}

a{color:#00ff00;text-decoration:none;}
a:hover{color:#008000;text-decoration:underline;}
p{text-indent:24px;}
ul{list-style:'> ';}
q{font-style: italic;}

.marquee {
  height: 22px;
  overflow: hidden;
  white-space: nowrap;
  padding: 2px;
}
.marquee span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 10s linear infinite;
}
@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}